/* body {
    background-image: url(../images/Chips_Falling.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} */

.jumbotron {
    background-color: rgba(72, 113, 176, 0.927)
}

.instructions {
    color: white;
}

input {
    width: 150px;
    height: 150px;
    padding: 25px;
}

/* #dice {
    background-color: white;
} */